<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mine.restful.mapper.SysUsersMapper">

    <resultMap id="BaseResultMap" type="com.mine.restful.entity.SysUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="valid" property="valid" jdbcType="BIGINT"/>
        <result column="dept_id" property="deptId" jdbcType="BIGINT"/>
        <result column="created_time" property="username" jdbcType="DATE"/>
        <result column="modifiy_time" property="modifiedTime" jdbcType="VARCHAR"/>
        <result column="creater" property="creater" jdbcType="VARCHAR"/>
        <result column="modified_user" property="modifiedUser" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, password, salt, email, mobile, valid, dept_id, created_time, modifiy_time, creater, modified_user
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sys_users (user_name, password, salt, email, mobile, valid, dept_id, created_time, modifiy_time, creater, modified_user)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{valid,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT},
                CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{creater,jdbcType=VARCHAR}, #{modifiedUser,jdbcType=VARCHAR})
    </insert>
    <update id="update">
        UPDATE sys_users
        <set>
            <if test="username != null">
                user_name = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="valid != null">
                valid = #{valid,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="modifiedTime != null">
                modifiy_time = #{modifiedTime,jdbcType=DATE},
            </if>
            <if test="modifiedUser != null">
                modified_user = #{modifiedUser,jdbcType=VARCHAR},
            </if>
            created_time = CURRENT_TIMESTAMP
            WHERE id = #{id,jdbcType=BIGINT}
        </set>
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_users
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultType="com.mine.restful.entity.SysUser">
        select
        <include refid="Base_Column_List"/>
        from sys_users
    </select>


    <delete id="deleteById" parameterType="java.lang.Long">
        delete from sys_users where id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>